<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-1125188-PP-7452988-1933175194611f39ada9d78-1-96-60/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B4%E0%B8%99-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7.jpg">

<div class="card-body"><p class="card-text"> เดอะนิช ไอดี ลาดพร้าว-วังหิน ขายด่วน สุดคุ้มในย่านลาดพร้าว ขายคอนโดราคาดี ต่ำกว่าตลาด Under Market Price - ย่านลาดพร้าว ห้อง 1 นอน ห้องสวย </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B4%E0%B8%99-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7_7452988 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1850000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-1917477-PP-6739693-860243594607998bd766b8-1-96-60/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84.jpg">

<div class="card-body"><p class="card-text"> ขาย/เช่า คอนโดเดอะนิช ไอดี บางแค ห้องมุม </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84_6739693 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1650000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-2995-PP-4248273-116890934561266648a1029-1-96-60/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%AB%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B9%83%E0%B8%AB%E0%B9%89%E0%B9%80%E0%B8%8A%E0%B9%88%E0%B8%B2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B4%E0%B8%99-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7.jpg">

<div class="card-body"><p class="card-text"> เดอะนิช ไอดี ลาดพร้าว-วังหิน </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%AB%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B9%83%E0%B8%AB%E0%B9%89%E0%B9%80%E0%B8%8A%E0%B9%88%E0%B8%B2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B4%E0%B8%99-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7_4248273 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1999000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-2995-PP-6879878-599964094611d3918f0cd5-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84.jpg">

<div class="card-body"><p class="card-text"> EHL - 213229 เดอะนิช ไอดี บางแค </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84_6879878 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1790000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-348095-PP-6097061-213839949160cc570577ba2-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84.jpg">

<div class="card-body"><p class="card-text"> ขายคอนโด เดอะนิช ไอดี บางแค เฟส 1 คอนโดพร้อมอยู่ ตกแต่งครบ ใกล้ MRT บางแค </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84_6097061 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1800000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-262034-PP-6208212-1105405030600a9fff60823-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84.jpg">

<div class="card-body"><p class="card-text"> ขายคอนโด เดอะนิช ไอดี บางแค 1 ห้องนอน ใน บางแค บางแค ใกล้ MRT บางแค </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84_6208212 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1850000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-388191-PP-7224341-108519717560ebf92f480cc-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B4%E0%B8%99-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7.jpg">

<div class="card-body"><p class="card-text"> ขาย เดอะนิช ไอดี ลาดพร้าว –วังหิน คอนโดไตล์รีสอร์ท แต่งครบ </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B4%E0%B8%99-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7_7224341 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1500000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-103080-PP-7216859-126851662760e9db8dbddc2-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%A1%E0%B8%94-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%97%E0%B8%AD%E0%B8%87.jpg">

<div class="card-body"><p class="card-text"> ขาย เดอะนิช ไอดี พระราม2 บางมด จอมทอง </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%A1%E0%B8%94-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%97%E0%B8%AD%E0%B8%87_7216859 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1750000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-388191-PP-7224277-12717026560ebf6d381f8f-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7.jpg">

<div class="card-body"><p class="card-text"> ขาย เดอะนิช ไอดี ลาดพร้าว –วังหิน คอนโดไตล์รีสอร์ท แต่งครบ </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7_7224277 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1500000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-842174-PP-7195772-32096225560e3df97d0cd9-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B4%E0%B8%99-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7.jpg">

<div class="card-body"><p class="card-text"> B15020764 - ขาย คอนโด เดอะนิช ไอดี ลาดพร้าว-วังหิน ตึก A ชั้น 8 (Sell Condo The Niche ID Ladprao - Wang Hin) </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B4%E0%B8%99-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7_7195772 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1960000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-1796279-PP-7232347-63355819360ee53a06ea24-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%AB%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B9%83%E0%B8%AB%E0%B9%89%E0%B9%80%E0%B8%8A%E0%B9%88%E0%B8%B2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B4%E0%B8%99-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7.jpg">

<div class="card-body"><p class="card-text"> 76707 - ขาย คอนโด The niche id ลาดพร้าว วังหิน 1นอน ชั้น2 - The Exclusive property </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%AB%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B9%83%E0%B8%AB%E0%B9%89%E0%B9%80%E0%B8%8A%E0%B9%88%E0%B8%B2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B4%E0%B8%99-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7_7232347 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1700000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-842174-PP-6060001-12090195075fdb0a56c897c-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B4%E0%B8%99-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7.jpg">

<div class="card-body"><p class="card-text"> B34251163 - ขาย คอนโด เดอะนิช ไอดี ลาดพร้าว-วังหิน ตึก A ชั้น 8 </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B4%E0%B8%99-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7_6060001 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1910000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-4426-PP-6909654-174178195360a36cb2262d1-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7.jpg">

<div class="card-body"><p class="card-text"> ขายคอนโดมิเนียม เดอะนิช ไอดี ลาดพร้าว-วังหิน กรุงเทพมหานคร </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7_6909654 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1550000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-842174-PP-6215008-2041968829600d0e5b58ac5-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B4%E0%B8%99-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7.jpg">

<div class="card-body"><p class="card-text"> L11220164 - ขาย คอนโด เดอะนิช ไอดี ลาดพร้าว-วังหิน ตึก B ชั้น 5 </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B4%E0%B8%99-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7_6215008 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1990000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-842174-PP-6838358-1658104542609216af7b619-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B4%E0%B8%99-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7.jpg">

<div class="card-body"><p class="card-text"> B13040564 - ขาย คอนโด เดอะนิช ไอดี ลาดพร้าว-วังหิน ตึก A ชั้น 7 (Sell Condo The Niche ID Ladprao - Wang Hin) </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B4%E0%B8%99-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7_6838358 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1570000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-4426-PP-7089267-1946714205611e1f15db27e-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%84%E0%B8%B1%E0%B8%99%E0%B8%99%E0%B8%B2%E0%B8%A2%E0%B8%B2%E0%B8%A7-%E0%B8%84%E0%B8%B1%E0%B8%99%E0%B8%99%E0%B8%B2%E0%B8%A2%E0%B8%B2%E0%B8%A7-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A3%E0%B8%B2%E0%B8%A9%E0%B8%8E%E0%B8%A3%E0%B9%8C%E0%B8%9E%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B2.jpg">

<div class="card-body"><p class="card-text"> ขายคอนโด เดอะนิช ไอดี เสรีไทย (The Niche ID Serithai) กรุงเทพมหานคร </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%84%E0%B8%B1%E0%B8%99%E0%B8%99%E0%B8%B2%E0%B8%A2%E0%B8%B2%E0%B8%A7-%E0%B8%84%E0%B8%B1%E0%B8%99%E0%B8%99%E0%B8%B2%E0%B8%A2%E0%B8%B2%E0%B8%A7-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A3%E0%B8%B2%E0%B8%A9%E0%B8%8E%E0%B8%A3%E0%B9%8C%E0%B8%9E%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B2_7089267 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1390000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-1356287-PP-6242013-2282067866013e854637fe-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B9%80%E0%B8%AA%E0%B8%A3%E0%B8%B5%E0%B9%84%E0%B8%97%E0%B8%A2-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%84%E0%B8%B1%E0%B8%99%E0%B8%99%E0%B8%B2%E0%B8%A2%E0%B8%B2%E0%B8%A7-%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E.jpg">

<div class="card-body"><p class="card-text"> ขาย คอนโด เดอะนิช ไอดี เสรีไทย The Niche id Serithai (ซ.เสรีไทย81/2) ห้องมุม ตกแต่งพร้อมอยู่ </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B9%80%E0%B8%AA%E0%B8%A3%E0%B8%B5%E0%B9%84%E0%B8%97%E0%B8%A2-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%84%E0%B8%B1%E0%B8%99%E0%B8%99%E0%B8%B2%E0%B8%A2%E0%B8%B2%E0%B8%A7-%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E_6242013 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1700000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-1112473-PP-5275631-1314574635f131924f0dcd-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0-%E0%B9%80%E0%B8%9A%E0%B8%A5%E0%B8%A5%E0%B9%88%E0%B8%B2-%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%A3%E0%B8%B2%E0%B8%A1-2-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B9%81%E0%B8%AA%E0%B8%A1%E0%B8%94%E0%B8%B3-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%82%E0%B8%B8%E0%B8%99%E0%B9%80%E0%B8%97%E0%B8%B5%E0%B8%A2%E0%B8%99.jpg">

<div class="card-body"><p class="card-text"> ขาย เดอะ เบลล่า คอนโด พระราม 2 (The Bella Condo Rama 2) ใกล้เซ็นทรัล พระราม 2  เทสโก้ โลตัส พระราม 2 </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0-%E0%B9%80%E0%B8%9A%E0%B8%A5%E0%B8%A5%E0%B9%88%E0%B8%B2-%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%A3%E0%B8%B2%E0%B8%A1-2-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B9%81%E0%B8%AA%E0%B8%A1%E0%B8%94%E0%B8%B3-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%82%E0%B8%B8%E0%B8%99%E0%B9%80%E0%B8%97%E0%B8%B5%E0%B8%A2%E0%B8%99_5275631 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1350000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-1732786-PP-6921708-22517123560a61fa7b70fb-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B9%80%E0%B8%AA%E0%B8%A3%E0%B8%B5%E0%B9%84%E0%B8%97%E0%B8%A2-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%84%E0%B8%B1%E0%B8%99%E0%B8%99%E0%B8%B2%E0%B8%A2%E0%B8%B2%E0%B8%A7-%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E.jpg">

<div class="card-body"><p class="card-text"> ขายคอนโด เดอะนิช ไอดี เสรีไทย The Niche ID Serithai ชั้น 7 ขนาด 27 ตรม. ห้องมุม </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B9%80%E0%B8%AA%E0%B8%A3%E0%B8%B5%E0%B9%84%E0%B8%97%E0%B8%A2-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%84%E0%B8%B1%E0%B8%99%E0%B8%99%E0%B8%B2%E0%B8%A2%E0%B8%B2%E0%B8%A7-%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E_6921708 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1994000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-747659-PP-5915681-6732051345fb64aa33fbbf-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B9%80%E0%B8%AA%E0%B8%A3%E0%B8%B5%E0%B9%84%E0%B8%97%E0%B8%A2-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%84%E0%B8%B1%E0%B8%99%E0%B8%99%E0%B8%B2%E0%B8%A2%E0%B8%B2%E0%B8%A7-%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E.jpg">

<div class="card-body"><p class="card-text"> AC-0021 ขายด่วน ! คอนโด เดอะนิช ไอดี ห้องสวย เฟอร์นิเจอร์ครบ พร้อมอยู่ อนาคตใกล้รถไฟฟ้าสายสีชมพูและสีส้ม </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B9%80%E0%B8%AA%E0%B8%A3%E0%B8%B5%E0%B9%84%E0%B8%97%E0%B8%A2-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%84%E0%B8%B1%E0%B8%99%E0%B8%99%E0%B8%B2%E0%B8%A2%E0%B8%B2%E0%B8%A7-%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E_5915681 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1430000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-4426-PP-7122068-46394667260d55167a1af3-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84.jpg">

<div class="card-body"><p class="card-text"> ขายด่วนคอนโด เดอะนิช ไอดี บางแค (The Niche Id Bangkhae) พร้อมอยู่ </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%84_7122068 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1220000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-388191-PP-6246238-80070841060152904d246e-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0-%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%A3%E0%B8%B2%E0%B8%A1-2-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%A1%E0%B8%94-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%97%E0%B8%AD%E0%B8%87.jpg">

<div class="card-body"><p class="card-text"> ขายคอนโด นิช ไอดี พระราม 2 (เฟส 2) ขนาด 30 ตรม. แต่งครบ ใกล้ทางด่วนและ Centralพระราม 2 แขวงบางมด เขตบางขุนเทียน กรุงเทพฯ </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0-%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%A3%E0%B8%B2%E0%B8%A1-2-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%A1%E0%B8%94-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%97%E0%B8%AD%E0%B8%87_6246238 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1751400
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-1796279-PP-7205853-181231652260e69677e5858-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%A1%E0%B8%94-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%97%E0%B8%AD%E0%B8%87.jpg">

<div class="card-body"><p class="card-text"> ขาย เดอะนิช ไอดี พระราม2 บางมด จอมทอง </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%A1%E0%B8%94-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%97%E0%B8%AD%E0%B8%87_7205853 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1750000
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-388191-PP-6246229-65693337960152809ee682-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0-%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%A3%E0%B8%B2%E0%B8%A1-2-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%A1%E0%B8%94-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%97%E0%B8%AD%E0%B8%87.jpg">

<div class="card-body"><p class="card-text"> ขายคอนโด นิช ไอดี พระราม 2(เฟส 2) ขนาด 27.67 ตรม. แต่งครบใกล้ทางด่วนและ Central พระราม 2 เขตบางขุนเทียน กรุงเทพฯ </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0-%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%A3%E0%B8%B2%E0%B8%A1-2-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%A1%E0%B8%94-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%97%E0%B8%AD%E0%B8%87_6246229 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1646900
 </h3></div></div></div></div>,<div class="col-md-4 p-3"><div class="card box-shadow">

<img class="card-img-top" src="https://photosrp.dotproperty.co.th/1.0-DP-842174-PP-7165113-84471514760dd8274f0fdd-1-270-180/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0-%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-130-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%84%E0%B8%A5%E0%B8%AD%E0%B8%87%E0%B8%88%E0%B8%B1%E0%B9%88%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%81%E0%B8%B0%E0%B8%9B%E0%B8%B4-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-101.jpg">

<div class="card-body"><p class="card-text"> K24300664 - ขาย คอนโด เดอะนิช ไอดี ลาดพร้าว 130 ตึก C ชั้น 7 (Sell The Niche Id Ladprao 130) </p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.dotproperty.co.th/%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0-%E0%B8%99%E0%B8%B4%E0%B8%8A-%E0%B9%84%E0%B8%AD%E0%B8%94%E0%B8%B5-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-130-1-%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%AD%E0%B8%99-%E0%B9%83%E0%B8%99-%E0%B8%84%E0%B8%A5%E0%B8%AD%E0%B8%87%E0%B8%88%E0%B8%B1%E0%B9%88%E0%B8%99-%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%81%E0%B8%B0%E0%B8%9B%E0%B8%B4-%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89-mrt-%E0%B8%A5%E0%B8%B2%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%A7-101_7165113 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted"> ฿ 1000000
 </h3></div></div></div></div>