<div class="col-md-4 p-3"><small class="text-muted">bkkcitismart.com</small><div class="card box-shadow">

<img class="card-img-top" src="https://www.bkkcitismart.com/stocks/property/c280x280/lc/ij/fxlplcijco/the_niche_id_serithai_c13111708_00e.jpeg">

<div class="card-body"><p class="card-text">ขายคอนโด เดอะนิช ไอดี เสรีไทย</p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.bkkcitismart.com/กรุงเทพมหานคร-คอนโด/เดอะนิช-ไอดี-เสรีไทย/C13111708 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted">  1730000 </h3></div></div></div></div>,<div class="col-md-4 p-3"><small class="text-muted">bkkcitismart.com</small><div class="card box-shadow">

<img class="card-img-top" src="https://www.bkkcitismart.com/stocks/property/c280x280/p6/xn/fxhpp6xnzr/the_niche_id_bangkhae_b11091810_155384140502.jpeg">

<div class="card-body"><p class="card-text">ขายคอนโด เดอะนิช ไอดี บางแค</p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.bkkcitismart.com/กรุงเทพมหานคร-คอนโด/เดอะนิช-ไอดี-บางแค/C11091811 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted">  2340000 </h3></div></div></div></div>,<div class="col-md-4 p-3"><small class="text-muted">bkkcitismart.com</small><div class="card box-shadow">

<img class="card-img-top" src="https://www.bkkcitismart.com/stocks/property/c280x280/b9/ut/fxhwb9ut4d/the_niche_id_serithai_b13111702_155348072708.jpeg">

<div class="card-body"><p class="card-text">ขายคอนโด เดอะนิช ไอดี เสรีไทย</p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.bkkcitismart.com/กรุงเทพมหานคร-คอนโด/เดอะนิช-ไอดี-เสรีไทย/C24091813 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted">  1790000 </h3></div></div></div></div>,<div class="col-md-4 p-3"><small class="text-muted">bkkcitismart.com</small><div class="card box-shadow">

<img class="card-img-top" src="https://www.bkkcitismart.com/stocks/property/c280x280/fu/zt/fxi8fuzt0d/the_niche_id_serithai_c21101805_154735947994.jpeg">

<div class="card-body"><p class="card-text">ขาย/เช่าคอนโด เดอะนิช ไอดี เสรีไทย</p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.bkkcitismart.com/กรุงเทพมหานคร-คอนโด/เดอะนิช-ไอดี-เสรีไทย/C21101805 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted">  3680000  </h3></div></div></div></div>,<div class="col-md-4 p-3"><small class="text-muted">bkkcitismart.com</small><div class="card box-shadow">

<img class="card-img-top" src="https://www.bkkcitismart.com/stocks/property/c280x280/tz/th/fxj0tzthq3/the_niche_id_bangkhae_b11091810_155384140502.jpeg">

<div class="card-body"><p class="card-text">ขายคอนโด เดอะนิช ไอดี บางแค</p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.bkkcitismart.com/กรุงเทพมหานคร-คอนโด/เดอะนิช-ไอดี-บางแค/C12121807 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted">  1790000 </h3></div></div></div></div>,<div class="col-md-4 p-3"><small class="text-muted">bkkcitismart.com</small><div class="card box-shadow">

<img class="card-img-top" src="https://www.bkkcitismart.com/stocks/property/c280x280/56/78/fyzj56782b/the_niche_id_bangkhae_b11091810_155384140502.jpeg">

<div class="card-body"><p class="card-text">ขายคอนโด เดอะนิช ไอดี บางแค</p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.bkkcitismart.com/กรุงเทพมหานคร-คอนโด/เดอะนิช-ไอดี-บางแค/C04041902 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted">  2070000 </h3></div></div></div></div>,<div class="col-md-4 p-3"><small class="text-muted">bkkcitismart.com</small><div class="card box-shadow">

<img class="card-img-top" src="https://www.bkkcitismart.com/stocks/property/c280x280/k7/dw/fxc2k7dwik/the_niche_id_serithai_b13111702_155348072609.jpeg">

<div class="card-body"><p class="card-text">ขายคอนโด เดอะนิช ไอดี เสรีไทย</p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.bkkcitismart.com/กรุงเทพมหานคร-คอนโด/เดอะนิช-ไอดี-เสรีไทย/C17041915 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted">  2560000 </h3></div></div></div></div>,<div class="col-md-4 p-3"><small class="text-muted">bkkcitismart.com</small><div class="card box-shadow">

<img class="card-img-top" src="https://www.bkkcitismart.com/stocks/property/c280x280/l7/5a/fxc5l75afi/the_niche_id_serithai_b13111702_155348072609.jpeg">

<div class="card-body"><p class="card-text">ขายคอนโด เดอะนิช ไอดี เสรีไทย</p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.bkkcitismart.com/กรุงเทพมหานคร-คอนโด/เดอะนิช-ไอดี-เสรีไทย/C17041916 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted">  2340000 </h3></div></div></div></div>,<div class="col-md-4 p-3"><small class="text-muted">bkkcitismart.com</small><div class="card box-shadow">

<img class="card-img-top" src="https://www.bkkcitismart.com/stocks/property/c280x280/c3/sh/fxdnc3sh3d/the_niche_id_serithai_b13111702_155348072609.jpeg">

<div class="card-body"><p class="card-text">ขายคอนโด เดอะนิช ไอดี เสรีไทย</p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.bkkcitismart.com/กรุงเทพมหานคร-คอนโด/เดอะนิช-ไอดี-เสรีไทย/C10061910 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted">  2230000 </h3></div></div></div></div>,<div class="col-md-4 p-3"><small class="text-muted">bkkcitismart.com</small><div class="card box-shadow">

<img class="card-img-top" src="https://www.bkkcitismart.com/stocks/property/c280x280/ao/j4/fxdsaoj4xt/the_niche_id_serithai_c10071905_156273174586.jpeg">

<div class="card-body"><p class="card-text">ขายคอนโด เดอะนิช ไอดี เสรีไทย</p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.bkkcitismart.com/กรุงเทพมหานคร-คอนโด/เดอะนิช-ไอดี-เสรีไทย/C10071905 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted">  2730000 </h3></div></div></div></div>,<div class="col-md-4 p-3"><small class="text-muted">bkkcitismart.com</small><div class="card box-shadow">

<img class="card-img-top" src="https://www.bkkcitismart.com/stocks/property/c280x280/an/wv/fxdsanwv9n/the_niche_id_serithai_b13111702_155348072609.jpeg">

<div class="card-body"><p class="card-text">ขายคอนโด เดอะนิช ไอดี เสรีไทย</p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.bkkcitismart.com/กรุงเทพมหานคร-คอนโด/เดอะนิช-ไอดี-เสรีไทย/C10071906 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted">  2730000 </h3></div></div></div></div>,<div class="col-md-4 p-3"><small class="text-muted">bkkcitismart.com</small><div class="card box-shadow">

<img class="card-img-top" src="https://www.bkkcitismart.com/stocks/property/c280x280/aw/yk/fxdsawyk6i/the_niche_id_serithai_b13111702_155348072708.jpeg">

<div class="card-body"><p class="card-text">ขายคอนโด เดอะนิช ไอดี เสรีไทย</p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.bkkcitismart.com/กรุงเทพมหานคร-คอนโด/เดอะนิช-ไอดี-เสรีไทย/C10071908 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted">  2520000 </h3></div></div></div></div>,<div class="col-md-4 p-3"><small class="text-muted">bkkcitismart.com</small><div class="card box-shadow">

<img class="card-img-top" src="https://www.bkkcitismart.com/stocks/property/c280x280/af/5w/fxe8af5wlx/the_niche_id_serithai_b13111702_155348072708.jpeg">

<div class="card-body"><p class="card-text">ขายคอนโด เดอะนิช ไอดี เสรีไทย</p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.bkkcitismart.com/กรุงเทพมหานคร-คอนโด/เดอะนิช-ไอดี-เสรีไทย/C26081903 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted">  2210000 </h3></div></div></div></div>,<div class="col-md-4 p-3"><small class="text-muted">bkkcitismart.com</small><div class="card box-shadow">

<img class="card-img-top" src="https://www.bkkcitismart.com/stocks/property/c280x280/8s/qn/fxed8sqni2/the_niche_id_serithai_b13111702_155348072609.jpeg">

<div class="card-body"><p class="card-text">ขายคอนโด เดอะนิช ไอดี เสรีไทย</p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.bkkcitismart.com/กรุงเทพมหานคร-คอนโด/เดอะนิช-ไอดี-เสรีไทย/C08091911 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted">  2120000 </h3></div></div></div></div>,<div class="col-md-4 p-3"><small class="text-muted">bkkcitismart.com</small><div class="card box-shadow">

<img class="card-img-top" src="https://www.bkkcitismart.com/stocks/property/c280x280/oi/vr/g1fvoivrsu/20210814104220323.jpg">

<div class="card-body"><p class="card-text">ขายคอนโด เดอะนิช ไอดี เสรีไทย</p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.bkkcitismart.com/กรุงเทพมหานคร-คอนโด/เดอะนิช-ไอดี-เสรีไทย/C15012005 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted">  2120000 </h3></div></div></div></div>,<div class="col-md-4 p-3"><small class="text-muted">bkkcitismart.com</small><div class="card box-shadow">

<img class="card-img-top" src="https://www.bkkcitismart.com/stocks/property/c280x280/2z/q4/fx872zq42z/the_niche_id_bangkhae_b11091810_155384140502.jpeg">

<div class="card-body"><p class="card-text">ขายคอนโด เดอะนิช ไอดี บางแค</p>

<div class="d-flex justify-content-between align-items-center">

 <div class="btn-group">

<a href="https://www.bkkcitismart.com/กรุงเทพมหานคร-คอนโด/เดอะนิช-ไอดี-บางแค/C25032109 "><button type="button" class="btn btn-sm btn-outline-secondary">Link</button></a>

</div><h3 class="text-muted">  2220000 </h3></div></div></div></div>